@namespace Portfolio.Components

<div class="work-card-outer">
    <div class="work-card-inner">
        <!-- Date row -->
        <div class="work-dates">
            <span>@StartDate</span>
            <span class="work-divider"></span>
            <span>@EndDate</span>
        </div>

        <!-- Position + Company -->
        <div class="work-header">
            <h3>@Position</h3>
            <span class="company">@Company</span>
        </div>

        <!-- Description -->
        <div class="work-details">
            <RadzenMarkdown class="radzen-markdown" Text="@Bullets"/>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Bullets { get; set; }
    [Parameter] public string Position { get; set; }
    [Parameter] public string Company { get; set; }
    [Parameter] public string StartDate { get; set; }
    [Parameter] public string EndDate { get; set; }
}
